<launch>

<arg name="valgrind" default="false" />
<arg name="debug" default="false" />

<group ns="/file_and_screen_different_appenders" >
<rosparam>
  appenders: [file, screen]
  levels: [trace, info]
  file_name: "ciao"
</rosparam>
</group>

<group ns="/file_and_screen_same_appender" >
<rosparam >
  appenders: [file, screen]
  levels: [info, info]
  file_name: "ciao"
</rosparam>
</group>

<group ns="/only_file_streamer">
<rosparam>
  appenders: [file]
  levels: [debug]
  file_name: "ciao"
</rosparam>
</group>

<group ns="/only_screen_streamer">
<rosparam>
  appenders: [screen]
  levels: [debug]
</rosparam>
</group>


<group if="$(arg valgrind)">
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix"
      value="valgrind -v --track-origins=yes --tool=memcheck --leak-check=full --show-reachable=yes  --num-callers=20 --track-fds=yes  --log-file=/home/feymann/a.txt" />
      <test launch-prefix="$(arg launch_prefix)" test-name="cnr_logger_test" pkg="cnr_logger" type="cnr_logger_test">
      </test>
</group>

<group unless="$(arg valgrind)">
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

<test launch-prefix="$(arg launch_prefix)" test-name="cnr_logger_test" pkg="cnr_logger" type="cnr_logger_test">
</test>

</group>

</launch>
