<launch>

<rosparam>
  appenders: [file, screen]
  levels: [debug, info]
  file_name: "ciao"
</rosparam>

<group ns="pippo">
<rosparam>
  appenders: [file]
  levels: [debug]
  file_name: "ciao"
</rosparam>
</group>

  <node pkg="cnr_logger" type="cnr_logger-test" name="test_cnr_logger" output="screen" >
  </node>



</launch>
