# This config uses industrial_ci (https://github.com/ros-industrial/industrial_ci.git).
# For troubleshooting, see readme (https://github.com/ros-industrial/industrial_ci/blob/master/README.rst)

name: 'ROS INDUSTRIAL CI'

# This determines when this workflow is run
#on: [push, pull_request] # on all pushes and PRs

# or more fine-grained
on:
  push:
    branches: [ master ]
    paths-ignore:
    - 'docs/**'  # When there is a pull request against master
    - 'README.md'
  pull_request:
    branches: [ master ]

jobs:
  industrial_ci:
    strategy:
      matrix: # matrix is the product of entries
        ROS_DISTRO: [melodic, noetic]
        ROS_REPO: [main]
        build_type: [Release, Debug]
    env:
      CCACHE_DIR: /github/home/.ccache # Directory for ccache (and how we enable ccache in industrial_ci)
      ISOLATION: "shell"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2   # clone target repository
      - uses: actions/cache@v2      # fetch/store the directory used by ccache before/after the ci run
        with:
          path: ${{ env.CCACHE_DIR }}
          key: ccache-${{ matrix.ROS_DISTRO }}-${{ matrix.ROS_REPO }}-${{github.run_id}}
          restore-keys: |
            ccache-${{ matrix.ROS_DISTRO }}-${{ matrix.ROS_REPO }}-
      # Run industrial_ci
      - name: industrial_ci-debug
        if: ${{matrix.build_type == 'Debug'}}
        uses: 'ros-industrial/industrial_ci@master'
        env: 
          ROS_DISTRO: ${{ matrix.ROS_DISTRO }}
          ROS_REPO: ${{ matrix.ROS_REPO }}
          ADDITIONAL_DEBS: git
          CATKIN_LINT: false
          NOT_TEST_BUILD: true
          PARALLEL_TESTS: false
          CMAKE_ARGS:  '-DCMAKE_BUILD_TYPE=Debug -DUSE_ROS=ON -DENABLE_TESTING=ON -DENABLE_COVERAGE_TESTING=ON'
          AFTER_SCRIPT: './.codecov.sh && ./.coverage.sh'
      - name: industrial_ci-release
        if: ${{matrix.build_type == 'Release'}}
        uses: 'ros-industrial/industrial_ci@master'
        env: 
          ROS_DISTRO: ${{ matrix.ROS_DISTRO }}
          ROS_REPO: ${{ matrix.ROS_REPO }}
          ADDITIONAL_DEBS: git
          CATKIN_LINT: false
          NOT_TEST_BUILD: true
          PARALLEL_TESTS: false
      - uses: actions/checkout@master
      - name: shell_info
        run:
          - pwd
          - ls -al

